.Carousel {
  overflow: hidden;
  height: 30rem;

  &__inner {
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
  }

  &__buttonContainer {
    margin-top: 35%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      margin: 0.5rem;
    }
  }
}

.CarouselItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* CarouselItem is the image frame */
  position: relative;
  width: 100%;
  height: 100%;

  &__Image {
    margin-top: -2rem;
    min-height: 35rem;
    object-fit: fill;
  }
}
