.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  margin: 1rem;

  &__menuGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__profileIconFrame {
    position: relative;
    height: 115%;
    width: 2.75rem;

    &__Image {
    }
  }
}
