@import "../../styles/mixins";

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  margin: 1rem;
  height: 5rem;

  & :first-child {
    margin-left: 4%;
  }

  & :last-child {
    margin-right: 4%;
  }

  &__menuGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 6%;
  }

  &__profileIconFrame {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;

    &__Image {
    }
  }

  &__sideMenuButtonContainer {
    @include desktop {
      display: none;
    }
    margin-right: 4%;

    &__button {
      background-color: var(--color-bg-primary);
      border: none;
    }
  }

  &__logoContainer {
    &__logo {
      margin-left: 4%;
    }
  }

  &__horizontalMenu {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__linksContainer {
    display: flex;
    flex-direction: row;
  }
}

.SideMenu {
  transition: all 0.25s ease-in-out;
  background-color: var(--color-gray-blue-light);
  position: fixed;
  z-index: 1;
  top: 0;
  left: -10rem;
  width: 0%;
  height: 0%;

  &__active {
    transition: all 0.25s ease-in-out;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
  }

  &__content {
    transition: all 0.25s ease-in-out;
    background-color: var(--color-gray-blue-light);
    width: 65%;
    height: 100%;
  }

  &__menuItem {
    margin-left: 10%;
    margin-top: 10%;
    transition: all 0.2s ease-in-out;

    &__link {
      &:link,
      &:visited {
        text-decoration: none;
        color: var(--color-text-primary);
        font-family: var(--font-primary);
        font-weight: 700;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }

      &:focus {
        outline: 0.1em var(--color-focus-indicator) solid;
        outline-offset: 0.1rem;
      }

      &:focus:not(:focus-visible) {
        /* when not in focus - undo focus styles*/
        outline: 0;
        outline-offset: 0.25rem;
      }

      &:focus-visible {
        /* keyboard navigators */
        outline: 0.25em var(--color-focus-indicator) dashed;
        outline-offset: 0.25rem;
      }
    }
  }

  &__buttonContainer {
    transition: all 0.2s ease-in-out;
    margin-left: 10%;

    &__button {
      margin-top: 8%;
      margin-bottom: 7%;
      background-color: var(--color-bg-primary);
      border: none;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }

      &:focus {
        outline: 0.1em var(--color-focus-indicator) solid;
        outline-offset: 0.1rem;
      }

      &:focus:not(:focus-visible) {
        /* when not in focus - undo focus styles*/
        outline: 0;
        outline-offset: 0.25rem;
      }

      &:focus-visible {
        /* keyboard navigators */
        outline: 0.25em var(--color-focus-indicator) dashed;
        outline-offset: 0.25rem;
      }
    }
  }
}
