@import "../../styles/mixins";

.Gallery {
  outline: 1px solid yellow;
  display: none;
  height: 10rem;
  width: 10rem;

  @include desktop {
    display: flex;
    outline: 1px solid yellow;

    &__imageFrame {
      position: relative;
      height: 10rem;
      width: 10rem;

      &__image {
        object-fit: cover;
      }
    }

    &__thumbnailsContainer {
      display: flex;
      flex-direction: row;
      width: 10rem;
    }

    &__imageFrame_thumbnail {
      outline: 2px solid blue;
      position: relative;
      height: 5rem;
      width: 5rem;

      &__image_thumbnail {
        object-fit: cover;
      }
    }
  }
}
