.Product {
}

.Carousel {
  overflow: hidden;

  &__inner {
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
  }

  &__imageFrame {
    position: relative;
    height: 30rem;
    width: 100%;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
  }
}
